@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#897dce;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 330px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#2d2a37 ;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-box-shadow: 6px 4px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 23px 0px rgba(0,0,0,0.75);
}

.container_elements{
    
}

.resultado{
    text-align: center;
    padding: 30px 0px;
}

input#resultado{
    background: #2d2a37;
    padding: 30px 74px;
    border: none;
}

input#resultado:focus{
    outline: none;
}

div#linha{
    display: flex;
    justify-content: space-between;
}

div#linha button{
    padding: 20px;
    margin: 3px 10px;
    color: white;
    background: #322f3c;
    border: none;
    border-radius: 50%;
    font-weight: 800;
    -webkit-box-shadow: -5px 6px 9px -4px #00000065;
-moz-box-shadow: -5px 6px 9px -4px #00000065;
box-shadow: -5px 6px 9px -4px #00000065;
cursor: pointer;
}

div#linha button:hover{
    background:#282630;
    transition:  0.25s;
}